﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="administrador.aspx.cs" Inherits="pruebas2bootstrap.administrador" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
/*body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}*/







</style>



</head>
<body>
    <form id="form1" runat="server"> 

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 style="color:31C9DD" align="center">Gestion de usuarios</h1> 
<br/>

<div class="col-sm-12">

  <ul class="nav nav-pills" >

       



  </ul>

<br/>


  <div class="tab-content">

      <!--------------------- Gestion de usuarios ------------------------------------------------------>

   <div id="ingresar" class="tab-pane fade in active">
      


  <div class="form-group">
  <label for="UserName">DPI:</label>
      <asp:TextBox class="form-control" ID="TextBox1" runat="server"></asp:TextBox>
    <%--<input type="text" class="form-control" id="email">--%>
  </div>

       
  
  <div class="form-group">
    <label for="email">Nombre:</label>
      <asp:TextBox  class="form-control" ID="TextBox2" runat="server"></asp:TextBox>
    <%--<input type="email" class="form-control" id="email">--%>
  </div>

  <div class="form-group">
    <label for="pwd">E-mail:</label>
      <asp:TextBox class="form-control" ID="TextBox3" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

  <div class="form-group">
    <label for="pwd">Teléfono:</label>
      <asp:TextBox class="form-control" ID="TextBox4" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

       <div class="form-group">
    <label for="pwd">Usuario:</label>
      <asp:TextBox class="form-control" ID="TextBox5" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

       <div class="form-group">
    <label for="pwd">Contraseña:</label>
      <asp:TextBox class="form-control" ID="TextBox6" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>


       <div class="form-group">
    <label for="pwd">Rol:</label>
           <asp:DropDownList class="form-control" ID="DropDownList1" runat="server"></asp:DropDownList> 
      <%--<asp:TextBox class="form-control" ID="TextBox7" runat="server"></asp:TextBox>--%>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>





         
        <asp:Button  class="btn btn-default btn-lg" ID="Button1" runat="server" Text="Agregar" OnClick="Button1_Click" />
       <asp:Button  class="btn btn-default btn-lg" ID="Button2" runat="server" Text="Editar" OnClick="Button2_Click1" />
       <asp:Button  class="btn btn-default btn-lg" ID="Button3" runat="server" Text="Eliminar" OnClick="Button3_Click" />

       

<br/>
 
        


    </div>

      
      

 <!------------------------------------------------------------------------------------------------------>

      

   </div>

    

  </div>
    
</div>

     

</div>

     
<!-- This design is created by manoj chauhan  -->


        </div>
        <asp:GridView align="center" ID="GridView1" runat="server" DataSourceID="SqlDataSource1" OnSelectedIndexChanged="GridView1_SelectedIndexChanged1">
            <Columns>
                <asp:CommandField ShowSelectButton="True" />
            </Columns>
        </asp:GridView>


        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:ipc2fase3ConnectionString %>" ProviderName="<%$ ConnectionStrings:ipc2fase3ConnectionString.ProviderName %>" SelectCommand="SELECT * FROM usuario;"></asp:SqlDataSource>


    </form>
</body>
</html>