﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="cliente.aspx.cs" Inherits="pruebas2bootstrap.cliente" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="form1" runat="server">
                            <h3 class="text-center text-info">Bienvenido</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Buscar empresa o sitio turistico:</label><br>  
                                <asp:TextBox class="form-control" ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged"></asp:TextBox>
                                <%--<input type="text" name="username" id="username" class="form-control">--%>
                            </div>
                            
                            <div class="form-group">
                              
                                <asp:Button class="btn btn-info btn-md" ID="Button1" runat="server" Text="Buscar" OnClick="Button1_Click" />
                                <%--<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">--%>
                            </div>
                            
                            <label for="username" class="text-info">Empresa:</label><br>

                            <asp:GridView ID="GridView1" runat="server"></asp:GridView>

                            <label for="username" class="text-info">Sitio Turístico:</label><br>

                            <asp:GridView ID="GridView2" runat="server"></asp:GridView>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</body>

</html>