﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="registrarcliente.aspx.cs" Inherits="pruebas2bootstrap.registrarcliente" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
/*body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}*/







</style>



</head>
<body>
    <form id="form1" runat="server"> 

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 style="color:31C9DD" align="center">Registro de clientes</h1> 
<br/>
     
<div class="col-sm-12">

  <ul class="nav nav-pills" >

       



  </ul>

<br/>


  <div class="tab-content">

      <!--------------------- Registro clientes ------------------------------------------------------>

   <div id="ingresar" class="tab-pane fade in active">
      


  <div class="form-group">
  <label for="UserName">Usuario:</label>
      <asp:TextBox class="form-control" ID="TextBox1" runat="server"></asp:TextBox>
    <%--<input type="text" class="form-control" id="email">--%>
  </div>

       
  
  <div class="form-group">
    <label for="email">Contraseña:</label> 
      <asp:TextBox  class="form-control" ID="TextBox2" runat="server"></asp:TextBox>
    <%--<input type="email" class="form-control" id="email">--%>
  </div>




         
        <asp:Button  class="btn btn-default btn-lg" ID="Button1" runat="server" Text="Enviar" OnClick="Button1_Click" />
       

       

<br/>
 
        


    </div>

      
      

 <!------------------------------------------------------------------------------------------------------>

      

   </div>

    

  </div>
    
</div>

     

</div>

     
<!-- This design is created by manoj chauhan  -->


       


        </form>
</body>
</html>