﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="solicitud.aspx.cs" Inherits="pruebas2bootstrap.solicitud" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
/*body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}*/







</style>



</head>
<body>
    <form id="form1" runat="server"> 

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 style="color:31C9DD" align="center">Solicitud de Inscripción</h1> 
<br/>

<div class="col-sm-12">

  <ul class="nav nav-pills" >

       

    <li class=" " style="width:38%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#restaurante">Restaurante</a></li>
   
    <li class=" " style="width:30%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#hotel">Hotel</a></li>

      <li class=" " style="width:30%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#museo">Museo</a></li>



  </ul>

<br/>


  <div class="tab-content">

      <!--------------------- MENU RESTAURANTE ------------------------------------------------------>

    <div id="restaurante" class="tab-pane fade in active">
      


  <div class="form-group">
  <label for="UserName">Nombre de la Empresa:</label>
      <asp:TextBox class="form-control" ID="TextBox1" runat="server"></asp:TextBox>
    <%--<input type="text" class="form-control" id="email">--%>
  </div>
  
  <div class="form-group">
    <label for="email">Dirección del Inmueble:</label>
      <asp:TextBox class="form-control"  ID="TextBox2" runat="server"></asp:TextBox>
   <%-- <input type="email" class="form-control" id="email">--%>
  </div>

  <div class="form-group">
    <label for="pwd">Número telefónico:</label>
      <asp:TextBox class="form-control" ID="TextBox3" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

  <div class="form-group">
    <label for="pwd">E-mail:</label>
      <asp:TextBox class="form-control" ID="TextBox4" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

    <div class="form-group">
    <label for="pwd">Horario:</label> 
        <asp:TextBox class="form-control" ID="TextBox5" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

    <div class="form-group">
    <label for="pwd">Especialidad:</label> 
    <asp:DropDownList class="form-control" ID="DropDownList1" runat="server"></asp:DropDownList>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        <div class="form-group">  
    <label for="pwd">Región:</label> 
    <asp:DropDownList class="form-control" ID="DropDownList4" runat="server"></asp:DropDownList>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        


         
        


<br/>
 



    </div>

       <!--------------------- MENU HOTEL ------------------------------------------------------>

    <div id="hotel" class="tab-pane fade">



 <div class="form-group">
  <label for="UserName">Nombre de la Empresa:</label>
     <asp:TextBox class="form-control" ID="TextBox12" runat="server"></asp:TextBox>
    <%--<input type="text" class="form-control" id="email">--%>
  </div>
  
  <div class="form-group">
    <label for="email">Dirección del Inmueble:</label>
      <asp:TextBox class="form-control" ID="TextBox13" runat="server"></asp:TextBox>
    <%--<input type="email" class="form-control" id="email">--%>
  </div>

  <div class="form-group">
    <label for="pwd">Número telefónico:</label>
      <asp:TextBox class="form-control" ID="TextBox14" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

  <div class="form-group">
    <label for="pwd">E-mail:</label>
      <asp:TextBox class="form-control" ID="TextBox15" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>


    <div class="form-group">
    <label for="pwd">Región:</label> 
    <asp:DropDownList class="form-control" ID="DropDownList2" runat="server"></asp:DropDownList>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

       
         <div class="form-group">
    <label for="pwd">Servicios:</label>   
             <asp:CheckBoxList  ID="CheckBoxList1" runat="server"></asp:CheckBoxList>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>
       


        


<br/>



    



    </div>

       <!--------------------- MENU MUSEO ------------------------------------------------------>


      <div id="museo" class="tab-pane fade">



 <div class="form-group">
  <label for="UserName">Nombre de la Empresa:</label>
     <asp:TextBox class="form-control" ID="TextBox6" runat="server"></asp:TextBox>
    <%--<input type="text" class="form-control" id="email">--%>
  </div>
  
  <div class="form-group">
    <label for="email">Dirección del Inmueble:</label>
      <asp:TextBox class="form-control" ID="TextBox7" runat="server"></asp:TextBox>
    <%--<input type="email" class="form-control" id="email">--%>
  </div>

  <div class="form-group">
    <label for="pwd">Número telefónico:</label>
      <asp:TextBox class="form-control" ID="TextBox8" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

  <div class="form-group">
    <label for="pwd">E-mail:</label>
      <asp:TextBox class="form-control" ID="TextBox9" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

    <div class="form-group">
    <label for="pwd">Horario:</label>
        <asp:TextBox class="form-control" ID="TextBox10" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

          <div class="form-group">
    <label for="pwd">Tarifa:</label>
              <asp:TextBox class="form-control" ID="TextBox11" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

    <div class="form-group">
    <label for="pwd">Región:</label> 
    <asp:DropDownList class="form-control" ID="DropDownList3" runat="server"></asp:DropDownList>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>



  


<br/>



    



    </div>

 <!------------------------------------------------------------------------------------------------------>

      <div class="form-group">  
    <label for="pwd">Fotos:</label> 
            <asp:Button class="btn btn-default btn-lg" ID="Button1" runat="server" Text="Buscar" OnClick="Button1_Click1" />
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

      <asp:Button class="btn btn-default btn-lg" ID="Button2" runat="server" Text="Enviar" OnClick="Button2_Click" />

       


   </div>
  </div>
</div>
</div>
<!-- This design is created by manoj chauhan  -->
    </form>
</body>
</html>
