﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="tecnico.aspx.cs" Inherits="pruebas2bootstrap.tecnico" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>



<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
/*body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}*/







</style>



</head>
<body>
     <form id="form1" runat="server"> 

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 style="color:31C9DD" align="center">Técnico</h1> 
<br/>

<div class="col-sm-12">

  <ul class="nav nav-pills" >

       

    <li class=" " style="width:95%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#inspeccion">Inspecciones</a></li>

      <li class=" " style="width:95%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#nueva">Nueva Visita Tecnica</a></li>
   
    <li class=" " style="width:95%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#visita">Visitas Tecnicas</a></li>

     

       

  </ul>

<br/>


  <div class="tab-content">

      <!--------------------- inspeccion------------------------------------------------------>

    <div id="inspeccion" class="tab-pane fade in active">
      

  
  
  

  <div class="form-group">
    <label for="pwd">Empresas asignadas:</label>
      <asp:DropDownList class="form-control" ID="DropDownList1" runat="server" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged"></asp:DropDownList> 
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        <asp:Button class=" btn btn-lg btn-default" ID="Button1" runat="server" Text="Servicios" OnClick="Button1_Click" />  

        <div class="form-group">
    <label for="pwd">Empresas asignadas:</label>
            <asp:CheckBoxList ID="CheckBoxList1" runat="server"></asp:CheckBoxList>  
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>


             
        <asp:Button  class=" btn btn-lg btn-default" ID="Button2" runat="server" Text="Aprobar" OnClick="Button2_Click" />

        



<br/>
 



    </div>

       <!--------------------- nuevas visitas ------------------------------------------------------>

    <div id="nueva" class="tab-pane fade">


       <div class="form-group">
    <label for="pwd">Nombre:</label>
           <asp:TextBox class="form-control" ID="TextBox1" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        <div class="form-group">
    <label for="pwd">Fecha inicio:</label>
            <asp:TextBox class="form-control" ID="TextBox2" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        <div class="form-group">
    <label for="pwd">Fecha fin:</label>
            <asp:TextBox class="form-control" ID="TextBox3" runat="server"></asp:TextBox>
    <%--<input type="password" class="form-control" id="pwd">--%>
  </div>

        <asp:Button class=" btn btn-lg btn-default" ID="Button5" runat="server" Text="Crear" />

         <asp:CheckBoxList class="form-control"  ID="CheckBoxList3" runat="server"></asp:CheckBoxList>
<br/>



    </div>
       
       

 <!------------------------------------------------visitas------------------------------------------------------>


      <div id="visita" class="tab-pane fade">

          <div class="form-group">
    <label for="pwd">Recorridos:</label>
      <asp:DropDownList class="form-control" ID="DropDownList3" runat="server"></asp:DropDownList> 
    <%--<input type="password" class="form-control" id="pwd">--%>

  </div>


           <div class="form-group">
    <label for="pwd">Empresas:</label>
      <asp:DropDownList class="form-control" ID="DropDownList2" runat="server"></asp:DropDownList> 
    <%--<input type="password" class="form-control" id="pwd">--%>

  </div>

          <asp:Button class=" btn btn-lg btn-default" ID="Button3" runat="server" Text="Aprobada" />
          <asp:Button class=" btn btn-lg btn-default" ID="Button4" runat="server" Text="Rechazada" />


          <asp:CheckBoxList class="form-control"  ID="CheckBoxList2" runat="server"></asp:CheckBoxList>
        


<br/>



    </div>

      <!------------------------------------------------------------------------------------------------------>

      

   </div>
  </div>
</div>
</div>
<!-- This design is created by manoj chauhan  -->
    </form>
</body>
</html>