﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="homepage.aspx.cs" Inherits="pruebas2bootstrap.homepage" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" href="#"><%--Bootstrap 4--%></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->

    <!-- Carousel Slider -->
    <div id="carouselLogo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselLogo" data-slide-to="0" class="active"></li>
            <li data-target="#carouselLogo" data-slide-to="1"></li>
            <li data-target="#carouselLogo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="http://www.facenet.org/wp-content/themes/executive/assets/images/header.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="http://www.facenet.org/wp-content/themes/executive/assets/images/header.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="http://www.facenet.org/wp-content/themes/executive/assets/images/header.jpg" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselLogo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselLogo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Carousel Slider -->

    <!-- Card -->
    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> INSTITUTO DE TURISMO NACIONAL </h3>
        <hr class="bg-dark mb-4 w-25">
        <div class="col-md-4">
                
            </div>
        <asp:Button class="btn btn-info btn-md" ID="Button2" runat="server" Text="Login" OnClick="Button2_Click" />
        
        <asp:Button class="btn btn-info btn-md" ID="Button4" runat="server" Text="Registrar una empresa" OnClick="Button4_Click" />
        <div class="container mb-5">
    </div>
         
    <!-- Card -->

    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Regiones </h3>
        <%--<hr class="bg-dark mb-4 w-25">--%>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.guatemala.com/fotos/201710/Tikal-es-uno-de-los-monumentos-mas-misteriosos-del-mundo-segun-Intriper-885x500.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Norte</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <asp:Button class="btn btn-primary" ID="Button1" runat="server" Text="ir" OnClick="Button1_Click" />
                        <%--<a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>--%>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4"> 
                <div class="card">
                    <img class="card-img-top" src="https://www.guatevalley.com/photo/photo_a1/1963/5WRxmGxacNdhZzL1YnGx.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Sur</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <asp:Button class="btn btn-primary" ID="Button3" runat="server" Text="ir" OnClick="Button3_Click" />
                        <%--<a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>--%>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div> 
       


            <!-- Card2 -->

            <div class="container container mt-4 mb-5">
        <%--<h3 class="display-4 text-center"> Regiones </h3>--%> 
        <%--<hr class="bg-dark mb-4 w-25">--%>
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top" src="https://i.blogs.es/4da771/forajidos-de-leyenda/1366_2000.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Este</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <asp:Button  class="btn btn-primary" ID="Button5" runat="server" Text="ir" OnClick="Button5_Click" />
                        <%--<a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>--%>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    
                </div>
            </div>
            <div class="col-md-4">
                <img class="card-img-top" src="https://s3.amazonaws.com/mundochapin/wp-content/uploads/2013/07/Mirador-Juan-Dieguez-Olaverri-Chiantl%C3%A1-Huehuetenango-los-Cuchumatanes-foto-por-Maynor-Marino-Mijangos.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Oeste</h4>
                        <p class="card-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <asp:Button  class="btn btn-primary" ID="Button6" runat="server" Text="ir" OnClick="Button6_Click" />
                        <%--<a href="#" class="btn btn-primary rounded-0 mb-2">Read More</a>--%>
                    </div>
            </div>
        </div>
    </div>
        </div>


            
        

    
    

    <!-- Footer -->
    <footer class="footer bg-dark text-white">

        <!-- Social Icons -->
        <div class="bg-primary">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-6 col-lg-7">
                        <h4 class="mb-0 white-text">&nbsp;</h4>
                    </div>
                    <div class="col-md-6 col-lg-5 text-right">
                        <a><i class="fa fa-facebook white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fa fa-twitter white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fa fa-google-plus white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fa fa-linkedin white-text mr-lg-4 fa-2x"> </i></a>
                        <a><i class="fa fa-instagram white-text mr-lg-4 fa-2x"> </i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social Icons -->

        <!-- Footer Links -->
        <div class="container pt-5 pb-2">
            <div class="row">

                <div class="col-md-3 col-lg-4 col-xl-3">
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                </div>

            </div>
        </div>
        <!-- Footer Links-->

        <hr class="bg-white mx-4 mt-2 mb-1">

        <!-- Copyright-->
        <div class="container-fluid">
            <p class="text-center m-0 py-1">
                © 2017 Copyright <a href="https://getbootstrap.com/" class="text-white">Bootstrap 4</a>
            </p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
        </div>
    </form>
</body>
</html>