﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="publico.aspx.cs" Inherits="pruebas2bootstrap.publico" %>

<%--<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>--%>


<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head> 
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
/*body{
  background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}*/







</style>



</head>
<body>
     <form id="form1" runat="server"> 

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  
<h1 style="color:31C9DD" align="center">Bienvenido</h1> 
<br/>

<div class="col-sm-12">

  <ul class="nav nav-pills" >

       

    <li class=" " style="width:51%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#sitios">Sitíos Turísticos</a></li>
   
    <li class=" " style="width:45%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#hotel">Hoteles</a></li>

      <li class=" " style="width:50%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#restaurante">Restaurantes</a></li>
   
    <li class=" " style="width:45%"><a class=" btn btn-lg btn-default" data-toggle="tab" href="#museo">Museos</a></li>

     

       

  </ul>

<br/>


  <div class="tab-content">

      <!--------------------- Gestion de sitios------------------------------------------------------>

    <div id="sitios" class="tab-pane fade in active">
      

  
  
  <div class="form-group"> 
    <label for="email">Elije una sitio Turístico:</label>
      <asp:DropDownList class="form-control" ID="DropDownList1" runat="server"></asp:DropDownList>
    <%--<input type="email" class="form-control" id="email">--%>
  </div>

  

        <br/>
 



    </div>

       <!--------------------- Hoteles------------------------------------------------------>

    <div id="hotel" class="tab-pane fade">

        <div class="form-group"> 
    <label for="email">Elije una Hotel:</label> 
      <asp:DropDownList class="form-control" ID="DropDownList2" runat="server"></asp:DropDownList>
    <%--<input type="email" class="form-control" id="email">--%>   
  </div>


        <br/>


    </div>

       

 <!----------------------------------------------Restaurantes------------------------------------------------>

      <div id="restaurante" class="tab-pane fade">

        <div class="form-group"> 
    <label for="email">Elije un Restaurante:</label> 
      <asp:DropDownList class="form-control" ID="DropDownList3" runat="server"></asp:DropDownList>
    <%--<input type="email" class="form-control" id="email">--%>   
  </div>


        <br/>


    </div>

  <!------------------------------------------------Museos------------------------------------------------------>


      <div id="museo" class="tab-pane fade">

        <div class="form-group"> 
    <label for="email">Elije una Museo:</label> 
      <asp:DropDownList class="form-control" ID="DropDownList4" runat="server"></asp:DropDownList>
    <%--<input type="email" class="form-control" id="email">--%>   
  </div>


        <br/>


    </div>

   <!------------------------------------------------------------------------------------------------------>

      

   </div>
  </div>
</div>
</div>
<!-- This design is created by manoj chauhan  -->
    </form>
</body>
</html>
